/* Modo Claro (valores predeterminados) */
:root {
  --background-color: #f8b2c6;
  --primary-color: #6c567c;
  --target-color-left: #c06c85;
  --target-color-rigth: #d56c8b;

  --modal-color-rigth: #f27ea1;
  --modal-color-left: #db819c;
  --imagen-left: url(/barbieToy.png);
  --imagen-right: url(/kenToy.png);
  --title-color: #de729c;
  --text-color: #ffffff;
  --circle-left: #f27ea1;
  --circle-right: #db819c;
  --letter-color: black;
  --circle-border-left: #c06c85;
  --circle-border-right: #d56c8b;
  --background-image-circle-left: url(/enviar.png);
  --background-image-circle-rigth: url(/borrar.png);
  --background-image-rigth: url(/barbie.png);
  --background-image: url(/react.png);
  --background-image-left: url(/barbieicon.png);
  --font: "barbie", sans-serif;
  --spacing: 0.3rem;
  --blue: #f27ea1;
  --background-color-boton: rgba(138, 112, 156, 0.377);
  --fondo-loading: url(/barbie.png) no-repeat center center;
  --display: flex;
}

@font-face {
  font-family: "barbie";
  src: url("./barbie.ttf") format("truetype"); /* Cambia la ruta al archivo de fuente descargado */
}

/* Modo Oscuro */
[data-theme="dark"] {
  --display: none;
  --background-color-boton: #353535;
  --blue: #bf7963;
  --spacing: 0.5rem;
  --font: "Inter", sans-serif;
  --title-color: #ffa488;
  --letter-color: white;
  --imagen-left: "none";
  --imagen-right: "none";
  --background-color: #353535;
  --primary-color: #282828;
  --modal-color-rigth: #282828;
  --modal-color-left: #282828;
  --border-color: #2c2c2c;
  --target-color: #bf7963;
  --target-color-left: #bf7963;
  --target-color-rigth: #d5a56c;
  --text-color: #ffffff;
  --border: 0.5rem solid #684a4a;
  --background-image-left: url(/react.png);


  --background-image-loading: red;

  
  --circle-left: #da9884;
  --circle-right: #f1ba79;
  --circle-border-left: #bf7963;
  --circle-border-right: #d5a56c;
  --background-image-circle-left: url(/enviar.png);
  --background-image-circle-rigth: url(/borrar.png);
  --background-image-rigth: url(/nuclear.png);

}

/* Resto de tus estilos aquí */
