body {
  background-color: var(--background-color);
  color: var(--text-color);
}
main {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    scale: 0.8;
    gap: 5rem;
  }
}
